body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: normal;
  font-weight: 700;
  text-align: left;
  color: #32425c;

  background-color: #FFFFFF;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-h1 {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  text-align: left;
  color: #ee3643;
}

.union {
  display: flex;
  flex-wrap: wrap;
  min-width: 50px;
}

.space-around {
  display: flex;
  justify-content: space-around;
}
.main-menu {
  color: #ffffff;
  display: flex;
  background-color: #293449;
}

.main-menu a {
  text-decoration: none;
  color: #ffffff;
  display:block;
  padding: 14px 28px 13px 44px;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  width: 109px;
  height: 19px;
  object-fit: contain;
}

.logo-background {
  padding: 13px 56px 15px 55px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-size: 220px 47px;
  background-color: #ee3643;
}

.icon-search {
  object-fit: contain;
  opacity: 0.3;
  color: #ffffff;
}

.icon-bookmark {
  object-fit: contain;
  opacity: 0.3;
  color: #ffffff;
}

.cart-icon {
  object-fit: contain;
  opacity: 0.3;
  color: #ffffff;
}

.make-order-button {
  background-color: #63a63e;
}

.top-background {
  background-color: #f4f7f9;
  margin-bottom: 60px;
}
.columns-top {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 44px;
  padding: 0;
}

.column-item {
  width: 300px;
  text-align: center;
}

.icon-phone {
  object-fit: contain;
}

.phone-back {
  border: solid 3px #ffffff;
}

.phone {
  font-size: 21px;
  line-height: 1;
  color: #ee3643;
}

.address-top {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: #32425c;
}

.icon-login {
  object-fit: contain;
  color: #c5c5c5;
}

.login {
  background-color: #ffffff;

  font-size: 21px;
  line-height: 1;
  color: #000000;

  list-style: none;
}

.register {
  background-color: #ffffff;

  font-size: 21px;
  line-height: 1;
  color: #000000;

  list-style: none;
}

.

.site-navigation,
.user-navigation,
.site-navigation-footer {
  list-style: none;
/*  display: flex;
  flex-wrap: wrap;*/
}

.user-navigation-a {
  text-decoration: none;
  color: #000000;
  display:block;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.site-navigation-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}
.main-navigation a {
  text-decoration: none;
  color: #ffffff;
}
.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.index-columns {
 display: flex;
 justify-content: space-between;
 padding: 80px 10px;
 margin-bottom: 85px;
}

.title-background {
  padding-left: 30px;
  margin: 0;
  margin-bottom: 20px;
  background-color: #f2f6f8;
}
.title-h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.about p{
  font-size: 13px;
  width: 520px;
  line-height: 1.85;
  color: #000000;
}

.name-delivery {
  font-size: 18px;
  line-height: 1.11;
  color: #000000;

  list-style-type: none;
}

.name-delivery li::before {
  content:"-";
  width: 25px;
  color: #ee3643;
}

.company-button {
  background-color: #ee3643;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.modal-p {
  width: 180px;
}
.map {
  object-fit: contain;
}

.feedback-button {
  background-color: #ee3643;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.text {
  font-size: 18px;
  line-height: 1;
  color: #000000;
}
.modal button {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}
.footer-back {
  background-color: #32425c;
}

.site-navigation-footer a {
  text-decoration: none;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  color:#ffd180;
}

.address-footer {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
  background-color: #32425c;
}

.footer-copyright {
  padding: 35px 0;
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
  background-color: #293449;
}
.footer-copyright .container {
  display:flex;
}
.copyright {
  width: 230px;
  margin-right: 160px;
}
.social-union {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-right: 5px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.social-network-icon {
  width: 130px;
  object-fit: contain;
  color: #ffffff;
  background-color: #212a3a;
  list-style: none;
  margin-right: 100px;
}

.feedback-email {
  width: 138px;
  font-size: 16px;
  line-height: 1.13;
  color: #ffd180;
  margin-right: 60px;
}

.feedback-email b {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.developed {
  width: 96px;
 margin-left: auto;
}

.developed b {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.developed a {
  font-size: 16px;
  line-height: 1.13;
  color: #ffd180;
  text-decoration: none;
}

.sing-in {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.icon-user {
  object-fit: contain;
  background-color: #c5c5c5;
}

.icon-logout {
  object-fit: contain;
  background-color: #c5c5c5;
}

.account-link {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
  font-family: PTSans;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
}
.breadcrumbs a{
  text-transform: uppercase;
  text-decoration: none;
}

.icon-home {
  object-fit: contain;
  background-color: #c5c5c5;
}

.breadcrumbs-current {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1;
  color: #000000;
}

.filter {
  width: 220px;
}

.catalog {
  width: 700px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.title-filter {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  color: #000000;
}

.filter-input-checkbox{
  font-family: PTSans;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #000000;
}

.filter-input-radio{
  font-family: PTSans;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #000000;
}

.filter-button {
  font-family: PTSans;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #000000;
}

.catalog-item {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.catalog-item-price-strike {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: center;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item-price {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: center;
  color:#ffffff
}

.button-buy {
  background-color: #63a63e;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.button-mark {
  border: solid 3px #63a63e;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #32425c;
}

.title-h3 {
  font-family: PTSans;
 font-size: 18px;
 font-weight: bold;
 line-height: 1.11;
 text-align: center;
 color: #000000;
}

.add-cart {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  color: #000000;
}
.make-order-button {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}
