body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: normal;
  font-weight: 700;
  text-align: left;
  color: #32425c;

  background-color: #FFFFFF;
}

.title-h1 {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  text-align: left;
  color: #ee3643;
}

.main-menu {
  color: #ffffff;
  background-color: #293449;
}

.main-menu a {
  text-decoration: none;
  color: #ffffff;
}

.logo-back {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo {
  object-fit: contain;
}

.icon-search {
  object-fit: contain;
  opacity: 0.3;
  color: #ffffff;
}

.icon-bookmark {
  object-fit: contain;
  opacity: 0.3;
  color: #ffffff;
}

.cart-icon {
  object-fit: contain;
  opacity: 0.3;
  color: #ffffff;
}

.make-order-button {
  background-color: #63a63e;
}

.top-background {
  background-color: #f4f7f9;
}

.icon-phone {
  object-fit: contain;
}

.phone-back {
  border: solid 3px #ffffff;
}

.phone {
  font-size: 21px;
  line-height: 1;
  color: #ee3643;
}

.address-top {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
}

.icon-login {
  object-fit: contain;
  color: #c5c5c5;
}

.login {
  background-color: #ffffff;

  font-size: 21px;
  line-height: 1;
  color: #000000;

  list-style: none;
}

.register {
  background-color: #ffffff;

  font-size: 21px;
  line-height: 1;
  color: #000000;

  list-style: none;
}


.site-navigation,
.user-navigation,
.site-navigation-footer {
  list-style: none;
}

.user-navigation a {
  text-decoration: none;
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.main-navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}
.main-navigation a {
  text-decoration: none;
  color: #ffffff;
}
.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.title-h2 {
  font-size: 30px;
  line-height: 1;
  color: #000000;
}

.about p{
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

.name-delivery {
  font-size: 18px;
  line-height: 1.11;
  color: #000000;

  list-style-type: none;
}

.name-delivery li::before {
  content:"-";
  width: 25px;
  color: #ee3643;
}

.company-button {
  background-color: #ee3643;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}


.map {
  object-fit: contain;
}

.feedback-button {
  background-color: #ee3643;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.text {
  font-size: 18px;
  line-height: 1;
  color: #000000;
}
.modal button {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}
.footer-back {
  background-color: #32425c;
}

.site-navigation-footer a {
  text-decoration: none;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  color:#ffd180;
}

.address-footer {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
  background-color: #32425c;
}

.footer-copyright {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
  background-color: #293449;
}

.social-network-icon {
  object-fit: contain;

  color: #ffffff;
  background-color: #212a3a;
  list-style: none;
}

.feedback-email {
  font-size: 16px;
  line-height: 1.13;
  color: #ffd180;
}

.feedback-email b {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.developed b {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.developed a {
  font-size: 16px;
  line-height: 1.13;
  color: #ffd180;
  text-decoration: none;
}

.sing-in {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.icon-user {
  object-fit: contain;
  background-color: #c5c5c5;
}

.icon-logout {
  object-fit: contain;
  background-color: #c5c5c5;
}

.account-link {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
}

.breadcrumbs {
  font-family: PTSans;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
}

.icon-home {
  object-fit: contain;
  background-color: #c5c5c5;
}

.breadcrumbs-current {
  font-size: 30px;
  line-height: 1;
  color: #32425c;
}

.title-filter {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  color: #000000;
}

.filter-input-checkbox{
  font-family: PTSans;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #000000;
}

.filter-input-radio{
  font-family: PTSans;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #000000;
}

.filter-button {
  font-family: PTSans;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  color: #000000;
}

.catalog-item {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.catalog-item-price-strike {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: center;
  color: #999999;
}

.catalog-item-price {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  text-align: center;
  color:#ffffff
}

.button-buy {
  background-color: #63a63e;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

.button-mark {
  border: solid 3px #63a63e;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #32425c;
}

.title-h3 {
  font-family: PTSans;
 font-size: 18px;
 font-weight: bold;
 line-height: 1.11;
 text-align: center;
 color: #000000;
}

.add-cart {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  color: #000000;
}
.make-order-button {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}
